body{
    background-color: black;
  
}

#container{
  background-color: lightBlue;
  margin: 0 auto;

}

#calculator{
    height:500px;
    width:300px;
    background-color: lightpink;
    margin-top: 50px;
    margin: 0 auto;
}

#calculator{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 5fr;
}


#result{
    background-color: red;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 20px 100px;
    text-align: right;
    padding-right: 10px;
}

#output{
    font-size:30px;
    font-weight: bold;
}



#keyboard{
    background-color: green;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-auto-rows: auto;
    grid-gap: 10px 10px;
}

button{
   
    width: 50px;
    height:50px;
    border-radius: 50%;
    border: none;
    font-size: 17px;
    font-weight: bold;
}

button:nth-child(4){
    background-color: lightskyblue;
    font-size: 20px;
}
button:nth-child(8){
    background-color: rgb(126, 224, 69);
    font-size: 20px;
}
button:nth-child(12){
    background-color: rgb(179, 70, 206);
    font-size: 20px;
}
button:nth-child(16){
    background-color: rgb(250, 135, 135);
    font-size: 20px;
}
button:nth-child(20){
    background-color: rgb(87, 17, 17);
    font-size: 20px;
}

.operator, .number{
    cursor: pointer;
}

.operator{
    background-color: darkgray;
}

.operator:active, .number:active{
   font-size: 14px;
}

.operator:focus, .number:focus, .empty:focus{
    outline: none;
}

.empty{
    background-color: green;
}